[Unit]
Description=Run birb.py automatically

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /path/to/birb/birb.py

[Install]
WantedBy=multi-user.target